{% extends "base.html" %}
{% block content %}
    <h1>Hello {{user}}! Welcome to Simple Chat!</h1>
    <p>This is a very rough chat web app to get to get my hands dirty with building things and stuff.</p>
    {% if logged_in %}
        <p>You are logged in {{user}}! </p>
        <p>Click <a href = '/logout'>here</a> to logout</p>
    {% else %}
        <p>You are not logged in <a href = '/name'> click here to log in</a></p>
    {% endif %}
    <br/><br/>

    <h3>Here is a cool picture</h3>
    <img src="https://media1.tenor.com/images/3e3fc2e015563bfb49e7b023bf6218d5/tenor.gif?itemid=17407714" alt="A monkey spinning">


{% endblock %}