{% extends "base.html" %}
{% block content %}
{% if not already_submitted %}
    <p>You are not logged in. Please head over to <a href = '/name'>name</a> to log in. <p>
{% else %}
    <head>
        <script src="/static/js/script.js"></script>
    </head>

    <div>
        <h1>Hello {{user}}</h1>

        <ul id="notifications-list" style="list-style-type: none"></ul>
        <div id="messages">
            {% if message_dict is not none %}
            {% for message in message_dict %}
                <!-- <div>
                    {{message.get("message")}}
                </div> -->

                <div class="alert alert-dark" role="alert" class="message">
                    <i>{{message.get("dateAdded")}}</i>
                <br>
                    <b>{{message.get("name")}}</b>
                <br>
                    {{message.get("message")}}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- <div style="text-align: center">
            <button id="notifications-show-more" class="button button-primary">Show More</button>
            <br><br>
        </div> -->
    </div>

    <div>
        <form method="POST">
            {{ messageForm.hidden_tag() }}
            {{ messageForm.message.label(class="form-label") }}
            {{ messageForm.message(class="form-control") }}
            <br/>
            {{ messageForm.submit(class="btn btn-secondary") }}
        </form>
    </div>

    <br>
    <!-- <a href = '/'>Go back to Home</a> -->
    <div class="text-center">
        <a href='/'>
            <button type="button" class="btn btn-primary btn-lg" style = "text-align: center;">Home</button>
        </a>
    </div>



{% endif %}


{% endblock %}